/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/node_modules
/.sass-cache
*.idea
/var/uploads/*
/web/uploads/*
/web/filemanager
/web/js/frontend.*.js
/web/js/frontend.js
/web/css/main.css
/web/css/main.css.map
/web/css/main.*.css
/app/config/assets.config.php
.env
/.docker/php/id_rsa
/mysql